
package.json
yarn.lock

#modules
node_modules

# Ignore built ts files
built/**/*
dist/**/*

# Coverage reports
coverage

# Settings linter
.lintstagedrc
.eslintrc.js
.prettierrc.js
commitlint.config.js

# Configs
jest.config.ts
tsconfig.json